# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio folder
.vs/

# IIS Express
.vscode/
.vsconfig
*.vspscc
*.vssscc

# Logs
*.log

# Environment files
appsettings.*.local.json

# Node (if you have any Node tooling)
node_modules/

# Backup and temporary files
*.bak
*.tmp
*.cache
*.swp
*.lock.json
config.bat
